<div class="cart-container">

  <h2>Your Cart</h2>

  <!-- Empty Cart -->
  <div *ngIf="cartService.cartItems().length === 0">
    <p>🛒 Cart is empty</p>
  </div>

  <!-- Cart Items -->
  <div class="cart-item" *ngFor="let item of cartService.cartItems()"
  [class.out-of-stock]="item.quantity > (item.stock ?? 0)">
    <img [src]="item.imageUrl"
         alt="{{ item.product?.productName }}"
         width="100" />

   <div class="item-details">

  <div class="top-row">
    <h3>{{ item.productName }}</h3>
    <h3>${{ item.price }}</h3>
  </div>
  <p
  *ngIf="item.availability === 'OutOfStock'"
  class="stock-error"
>
  Out of stock
</p>

  <p
    class="stock-error"
    *ngIf="item.quantity > (item.stock ?? 0)">
    ❌ Only {{ item.stock ?? 0 }} left in stock
  </p>

  <div class="bottom-row">

    <div class="qty-controls">
      <button (click)="removeOne(item.productId)">-</button>
      <span>{{ item.quantity }}</span>
      <button (click)="addOne(item.productId)">+</button>
    </div>

    <button
      class="remove"
      (click)="removeItem(item.productId)">
      Remove
    </button>

  </div>

    </div>
 </div>
    <!-- Summary -->
  <div class="summary">
    <h3>Total Items: {{ cartService.totalItems() }}</h3>
    <h3>Total Price: ${{ cartService.getTotal() }}</h3>
  </div>
 

  <!-- Checkout -->
  <button class="checkout-btn" routerLink="/checkout" >
    Proceed to Checkout
  </button>

</div>