<nav class="topbar" *ngIf="auth.isLoggedIn()">
  <div class="logo">My Shop</div>
  
  <div class="nav-links">
      <a routerLink="/products" *ngIf="auth.isUser()">Products</a>
      
      <a routerLink="/admin-products" *ngIf="auth.isAdmin()">Admin</a>
      <a routerLink="/admin-categories" *ngIf="auth.isAdmin()">Categories</a>
    <a routerLink="/cart" *ngIf="auth.isUser()">
      Cart ({{ cartService.cartItems().length }})
    </a>
    <a routerLink="/orders" routerLinkActive="active">Orders</a>

    <button (click)="logout()">Logout</button>
  </div>
</nav>
<app-loading-spinner></app-loading-spinner>
<router-outlet></router-outlet>