<div class="orders-container">

  <!-- FILTER -->
  <div class="filter-bar">

    <input type="text"
         placeholder="Search Order Code"
         [(ngModel)]="orderCodeFilter"
         (input)="applyFilters()" />
         
    <select [(ngModel)]="statusFilter" (change)="applyFilters()">
      <option value="">All Status</option>
      <option>PENDING</option>
      <option>CONFIRMED</option>
      <option>DELIVERED</option>
      <option>CANCELLED</option>
    </select>

    <input type="date"
           [(ngModel)]="dateFilter"
           (change)="applyFilters()" />
  </div>

  <!-- SUMMARY -->
  <div class="summary-card">
    <h3>
      {{ orders().length }}
      {{ orders().length === 1 ? 'Order' : 'Orders' }}
    </h3>
  </div>
  <!-- LOADING -->
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <!-- EMPTY STATE -->
  <div *ngIf="orders().length === 0" class="empty-state">
    <h3>😕 No orders found</h3>
    <p>Try changing filters</p>
  </div>

  <!-- ✅ FIX: ADD *ngFor HERE -->
  <div class="order-card"
       *ngFor="let order of orders()">

    <!-- HEADER -->
    <div class="order-header"
         (click)="toggleOrder(order.id)">

      <div>
        <h3>{{ order.orderCode }}</h3>
        <p *ngIf="isAdmin"> 📧 {{ order.email }}</p>
        <p>Total: ${{ order.totalPrice }}</p>
      </div>

      <div class="status">
        <span *ngIf="!isAdmin">{{ order.status }}</span>

        <select *ngIf="isAdmin"
        [(ngModel)]="order.status"
        (focus)="order.previousStatus = order.status"
        (change)="onStatusChange($event, order)">

  <option value="PENDING">PENDING</option>
  <option value="CONFIRMED">CONFIRMED</option>
  <option value="DELIVERED">DELIVERED</option>
  <option value="CANCELLED">CANCELLED</option>

</select>
      </div>

      <div class="arrow">
        {{ expandedOrderId === order.id ? '▲' : '▼' }}
      </div>

    </div>

    <!-- ITEMS -->
    <div class="order-items"
         *ngIf="expandedOrderId === order.id">

      <hr />

      <div *ngFor="let item of order.items" class="item-row">

        <img [src]="item.imageUrl"
          width="80"
        />
        <div class="item-info">
          <p>{{ item.productName }}</p>
          <small>Qty: {{ item.quantity }}</small>
        </div>

        <div class="price">
          ${{ item.price }}
        </div>
      </div>
      <button
          (click)="printReceipt(order.id)">
          Print Receipt
        </button>
    </div>
  </div>

</div>