<div class="admin-container">

  <h2>Admin Product Dashboard</h2>

  <!-- FORM -->
  <div class="form-box">

    <input [(ngModel)]="product.productName" placeholder="Product Name">
    <input [(ngModel)]="product.price" placeholder="Price">
    <select [(ngModel)]="product.CategoryId">
  <option [ngValue]="null">Select Category</option>
  <option *ngFor="let c of categories" [ngValue]="c.Id">
    {{ c.Name }}
  </option>
</select>

    <!-- IMAGE UPLOAD -->
    <input type="file" (change)="onFileSelected($event)">

    <button *ngIf="!isEditMode" (click)="addProduct()">
      Add Product
    </button>

    <button *ngIf="isEditMode" (click)="updateProduct()">
      Update Product
    </button>

    <button *ngIf="isEditMode" (click)="resetForm()">
      Cancel
    </button>

  </div>

  <hr>

  <!-- PRODUCT LIST -->
  <div class="grid">

    <div class="card" *ngFor="let p of products">

      <img [src]="env.apiUrl + '/uploads/' + p.ImageUrl" />

      <h3>{{ p.ProductName }}</h3>
      <p>${{ p.Price }}</p>

      <button (click)="editProduct(p)">Edit</button>
      <button (click)="deleteProduct(p.Id)">Delete</button>

    </div>

  </div>

</div>